# Build outputs
dist/
build/

# Node.js dependency directories
node_modules/

# Package manager files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*

# Temporary files
.temp/
.tmp/
.cache/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Data files (optionally ignore large data files)
data/*.txt 